## Pr√°ctica ETL + EDA + Modeling

### Installing libraries

In [ ]:
pip install pandas

### Load data

In [1]:
import pandas as pd

In [6]:
pwc = pd.read_csv('credit_card_bal.csv')

In [8]:
pwc.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,16426.000000,1.642600e+04,1.642600e+04,1.642600e+04,1.642600e+04,1.642600e+04,16426.000000,16426.000000
mean,306.185194,8.236570e+05,1.252718e+06,5.348437e+05,8.341153e+05,1.264052e+06,0.500000,0.000974
std,192.704918,1.852158e+06,3.277629e+06,2.539971e+06,3.226697e+06,3.592841e+06,0.500015,0.031196
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,162.000000,3.662393e+04,1.067450e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,283.000000,1.706524e+05,1.202234e+05,0.000000e+00,0.000000e+00,1.244370e+05,0.500000,0.000000
75%,408.000000,5.482430e+05,7.965316e+05,0.000000e+00,5.214951e+05,1.115317e+06,1.000000,0.000000
max,743.000000,1.511569e+07,5.958504e+07,4.958504e+07,2.362305e+08,2.367265e+08,1.000000,1.000000

In [9]:
pwc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16426 entries, 0 to 16425
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            16426 non-null  int64
 1   type            16426 non-null  object
 2   amount          16426 non-null  float64
 3   nameOrig        16426 non-null  object
 4   oldbalanceOrg   16426 non-null  float64
 5   newbalanceOrig  16426 non-null  float64
 6   nameDest        16426 non-null  object
 7   oldbalanceDest  16426 non-null  float64
 8   newbalanceDest  16426 non-null  float64
 9   isFraud         16426 non-null  int64
 10  isFlaggedFraud  16426 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 1.4+ MB

In [10]:
pwc.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [12]:
pwc.corr

<bound method DataFrame.corr of        step      type      amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0        18   CASH_IN   180078.01  C1791832105     2796833.20      2976911.22
1       258   PAYMENT     2138.35   C634754263           0.00            0.00
2       183  TRANSFER   342675.47  C1778106585      342675.47            0.00
3       577  TRANSFER   141730.20  C1677850525      141730.20            0.00
4       742  TRANSFER  4009058.39  C1044665079     4009058.39            0.00
...     ...       ...         ...          ...            ...             ...
16421   141  CASH_OUT    14898.80  C1882828175      104665.00        89766.20
16422   188   CASH_IN   437986.25  C1072308575       50474.00       488460.25
16423   586  CASH_OUT        0.00  C1303719003           0.00            0.00
16424   355  CASH_OUT    42483.97  C1595793252       42483.97            0.00
16425   374   PAYMENT     6069.42  C1139940003           0.00            0.00

          nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0      C1756248403      1169682.86       989604.85        0               0
1       M205383539            0.00            0.00        0               0
2       C144558690            0.00            0.00        1               0
3       C607738036            0.00            0.00        1               0
4       C750074708            0.00            0.00        1               0
...            ...             ...             ...      ...             ...
16421  C1045368778      2756474.78      2771373.59        0               0
16422  C1532905677        49843.00            0.00        0               0
16423   C900608348      1328472.86      1328472.86        1               0
16424   C636454309        51495.75        93979.72        1               0
16425    M17941836            0.00            0.00        0               0

[16426 rows x 11 columns]>

#Usefull commands

In [ ]:
pwd = current directory
ls = list files
cd = change directory
mkdir = make a new directory